{% extends 'base.html' %}

{% block blog %}
<div class="form-container">
    <h1 class="form-title">إضافة أقسام</h1>
    
    <form action="" method="post" novalidate class="custom-form">
        {{form.csrf_token}}
        
        <div class="form-group">
            {{form.part.label(class="form-label")}}
            {% if form.part.errors %}
                {{form.part(class="form-input input-error")}}
                {% for err in form.part.errors %}
                    <p class="error-text">{{err}}</p>
                {% endfor %}
            {% else %}
                {{form.part(class="form-input")}}
            {% endif %}
        </div>

        <div class="form-group submit-group">
            {{form.submit(class="btn btn-primary btn-submit")}}
        </div>
    </form>
</div>
{% endblock %}