<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> -->
    
    {% if title %}
    <title>Do-list - {{title}}</title>
    {% else %}
    <title>Do-list</title>
    {% endif %}
</head>
<body>
    
    {% include 'navbar.html' %}

    <main class="main-content">
        {% block list %}
            
        {% endblock %}
    </main>

</body>
</html>