{% extends 'base.html' %}

{% block car %}
<div class="form-wrapper">
    <div class="form-container">
        <h2 class="form-title"> add a new car </h2>
        
        <form action="" method="post" novalidate enctype="multipart/form-data">
            {{ form.csrf_token }}
            
            <div class="form-group">
                {{ form.name.label(class="form-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control is-invalid") }}
                    {% for err in form.name.errors %}
                        <span class="error-message">{{ err }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.name(class="form-control") }}
                {% endif %}
            </div>
            
            <div class="form-group">
                {{ form.discrption.label(class="form-label") }}
                {% if form.discrption.errors %}
                    {{ form.discrption(class="form-control is-invalid") }}
                    {% for err in form.discrption.errors %}
                        <span class="error-message">{{ err }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.discrption(class="form-control") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.price.label(class="form-label") }}
                {% if form.price.errors %}
                    {{ form.price(class="form-control is-invalid") }}
                    {% for err in form.price.errors %}
                        <span class="error-message">{{ err }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.price(class="form-control") }}
                {% endif %}
            </div>
            
            <div class="form-group">
                {{ form.photo.label(class="form-label") }}
                {% if form.photo.errors %}
                    {{ form.photo(class="form-control-file is-invalid") }}
                    {% for err in form.photo.errors %}
                        <span class="error-message">{{ err }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.photo(class="form-control-file") }}
                {% endif %}
            </div>
            
            <div class="form-submit-btn">
                {{ form.submit(class="btn-primary") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}