{% extends 'base.html' %}

{% block car %}
    <div class="luxury-list-container">
        {% if new %}
            {% for news in new %} 
                <div class="car-row-item">
                    <div class="car-row-image">
                        <img src="{{ url_for('static', filename='uploads/' + news.image_file) }}" alt="{{ news.title }}">
                    </div>
                    <div class="car-row-details">
                        <h3 class="car-row-title">{{ news.title }}</h3>
                        <p class="car-row-description">{{ news.description }}</p>

                        <div class="car-row-footer">
                            <p class="car-row-time">Created at: {{ news.created_at.strftime('%Y-%m-%d') }}</p>
                            <!-- <p class="car-row-price">$150,000 <span>USD</span></p> -->
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1> there is not any news now </h1>
        {% endif %}
    </div>
{% endblock %}