<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% if title %}
        <title>CAR - {{ title }} </title>
    {% else %}
        <title>CAR</title>
    {% endif %}
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>

    {% with messages = get_flashed_messages()  %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block car %}
        
    {% endblock %}
</body>
</html>